<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Groceries</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of groceryList; let i = index">
      {{ item.title }}
      <ion-button slot="end" (click)="editItem(i)">Edit</ion-button>
      <ion-button slot="end" (click)="removeItem(i)">Remove</ion-button>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter item" [(ngModel)]="newItem"></ion-input>
      <ion-button slot="end" (click)="addItem">Add</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
